html {
	min-height: 100%;
	width: 100%;

	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	font-family: 'VT323', monospace;
}

body {
	margin: 0 auto;
}

#pixel-it {
	display: flex;
	align-items: center;
    justify-content: center;
}

.vertical-numbers {		
}

.logo	{
	text-align: center;
	font-size: 75px;
	letter-spacing: 2px;
	padding: 20px;
	color: #fff;
	background-color: grey;
}

.shadow-box {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.shadow-box-low {
	-webkit-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
}

.margin-top-12 {
	margin-top: 12px;
}


.margin-top-32 {
	margin-top: 32px;
}

.flex-box {
	display: flex;
}

.width-20 {
	width: 20%;
}

.width-60 {
	width: 60%;
}

.width-750 {
	width: 750px;
}

.padding-10 {
	padding: 10px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.text-center {
	text-align: center;
}

.button-tool {
	margin: 5px;
	padding: 10px;
	border-radius: 1px;
	text-align: center;
	border: 2px solid #252525;
	width: 32px;
	height: 32px;
}

.horizontal-line {
	margin-top: 0px;
	margin-bottom: 5px;
	word-spacing: 8px;
	text-align: center;
}

.vertical-line {
	margin-top: 3px;
}

.vertical-line-element {
	margin-top: 12px;
	margin-bottom: 11px;
}

.left-box {
	max-height: 542px;
	background-color: #dbdbdb;
	margin-left: 25px;
	margin-right: 10px;
}

.center-box {
	text-align: center;
	font-size: 20px;
	background-color: #d8d8d8;
	margin-left: 10px;
	margin-right: 10px;
}

.right-box {
	max-height: 560px;
	background-color: #dbdbdb;
	margin-left: 10px;
	margin-right: 25px;
}

.pixel-box {
	height: 25px;
	width: 25px;
	border: 1px solid grey;
}

.color-box {
	height: 31px;
	width: 31px;
	border: 1px solid #252525;
}

.pixel-box:hover {
	background-color: #c4c4c4
}

.current-color-box {
	margin: 5px;
	height: 50px;
	width: 50px;
	border: 1px solid #232323;
}

.red {
	background-color: #EE204D;
}

.pink {
	background-color: #F780A1;
}

.orange {
	background-color: #FF7538;
}

.yellow {
	background-color: #FDFC74;
}

.neon-carrot {
	background-color: #FFA343;
}

.sun-glow {
	background-color: #FFCF48
}

.sunset {
	background-color: #FD5E53;
}

.peach {
	background-color: #FFCFAB;
}

.canary {
	background-color: #FFFF99;
}

.sea-green {
	background-color: #9Fe2bf;
}

.fern {
	background-color: #71BC78;
}

.caribbean {
	background-color: #1cd3a2;
}

.tropical-green {
	background-color: #17806D;
}

.eletric-lime {
	background-color: #1DF914;
}

.screamin-green {
	background-color: #76FF7A;
}

.green {
	background-color: #1CAC78;
}

.blue {
	background-color: #1F75FE;
}

.pacific-blue {
	background-color: #1CA9C9;
}

.midnight-blue {
	background-color: #1A4876;
}

.indigo {
	background-color: #5D76CB;
}

.purple {
	background-color: #7851A9;
}

.plum {
	background-color: #8E4584;
}

.shadow {
	background-color: #8A795D;
}

.sepia {
	background-color: #A5694F;
}

.brass {
	background-color: #CD9575;
}

.gold {
	background-color: #E7C697;
}

.apricot {
	background-color: #FDD9B5
}

.white {
	background-color: #EDEDED;
}

.black {
	background-color: #232323;
}

.outer-space {
	background-color: #414A4C;
}

.grey {
	background-color: #95918C;
}

.manatee {
	background-color: #979AAA;
}

.wild-blue {
	background-color: #A2ADD0;
}

.scarlet {
	background-color: #FC2847;
}

.mahogany {
	background-color: #CD4A4A
}

.brick-red {
	background-color: #CB4154;
}

.wuzzy {
	background-color: #CC6666;
}

